body {
      background:url(../imagenes/descarga5.jpg);
            
}

/*
h1 {
    font-size:50px;
}

li {
    font-size:30px;
}

li{
   color:#fff;
}

a {
         color:#000000;
}
*/

.yellow {
         color:turquoise;
         font-size:20px;
         margin-right:1rem;
         margin-left:1rem;
}

/*
li a {
      color:pink;
}


b {
   color:#fff;
}

i {
   color:#fff;
}

h3 {
    color:#fff;
}

h2 {
    color:#fff;
}

nav {
    width:95%;
    background:#fff;
    margin:10px auto;
    padding:30px;
    border-radius:40px;
    background-size:cover;
}

h2 {
    font-size:50px
}
*/

.fotos{
    height: 320px;
    width: 320px;
    align-self: flex-end;
}
.item{
    margin: 10px;
}
@media screen and (max-wdth: 768px)

